# app.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: quiz-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quiz-app
  template:
    metadata:
      labels:
        app: quiz-app
    spec:
      containers:
        - name: quiz-app
          image: quiz-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: quiz-app-service
spec:
  type: NodePort
  selector:
    app: quiz-app
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30007
